/* General style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0052b0;
    font-family: "Amiga Topaz", sans-serif;
    color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 12vw;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-top: 2%;
    margin-bottom: 8%;
}

/* ---------- Main Div, the frame which will contain the game */

#main-div {
    height: 76vh;
    width: 86vw;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 4px solid white;
    perspective: 1000px;
    box-shadow: 6px 6px black;
    align-content: center;
}

#magic-div {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Amiga Topaz', sans-serif;
    font-size: 20px;
    padding: 3px;
    display: none;
    margin: 17px;
    background-color: white;
    box-shadow: 2px 2px black;
}


/*The transform property set on this value makes the button
"move" if you click on it*/
button:active {
    transform: translateY(2px);
}

#real-game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3px;
}

/*The transform-style property "inserts" our memory card element inside the 3d space which is created in the 
#real-game container with the perspective property.
We also add a property called transition and a value of
transform .2s, otherwise we wouldn't see any flip.*/
.memory-card {
    width: 29%;
    height: 40.333%;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

img {
    width: 100px;
}

#instructions {
    font-size: 10px;
}

#timer-p {
    margin-top: 4px;
}