/* General style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amiga Topaz';
}

body {
    height: 100vh;
    display: flex;
    background-color: #0052b0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* --------- Heading */

h1 {
    font-size: 13vw;
    color: white;
    text-shadow: 2px 3px black;
}

/* ---------- Main Div, the frame which will contain the game */

.main-div {
    margin: auto;
    margin-top: 12px;
    height: 80vh;
    width: 86vw;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid white;
}

#magic-div {
    display: none;
    position: relative;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Amiga Topaz', sans-serif;
    font-size: 20px;
    padding: 3px;
    display: flex;
    margin: 17px;
    background-color: white;
    box-shadow: 2px 2px black;
}


/*The transform property set on this value makes the button
"move" if you click on it*/
button:active {
    transform: translateY(2px);
}

/*The transform-style property "inserts" our memory card element inside the 3d space which is created in the 
#real-game container with the perspective property.
We also add a property called transition and a value of
transform .2s, otherwise we wouldn't see any flip.*/
.memory-card {
    width: calc(33% - 4px);
    height: calc(24.333% - 4px);
    margin: 2px;
    position: relative;
    transform: scale(1);
}

.memory-card:active {
    transform: scale(.95);
    transition: transform .3s;
}

.front-face,
.back-face {
    width: 105%;
    height: 105%;
    position: absolute;
    padding: 2px;
}

#instructions {
    font-size: 10px;
}

#timer-p {
    margin-top: 4px;
}